extends layout

block content
  .overlay
      header
        .wrap
          nav
            ul
              li
                p Features
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                p Books
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                p Contact
      | &#x9;&#x9;
      .landingpage
        section.centered
          p Booksy
        | &#x9;&#x9;&#x9;
        .slogan
          p The social reading app.
      | &#x9;&#x9;
      .features
        p Features
      | &#x9;&#x9;
      .books
        p Hello world
      | &#x9;&#x9;
      .contact
        p conact me
    | &#x9;
    script(src='/javascripts/main.js')


