doctype html
html
  head
    meta(charset='utf-8')
    |       
    title Booksy | The Social Reading App
    |       
    link(rel='stylesheet', href='main.css')
    // <link href='http://fonts.googleapis.com/css?family=Homemade+Apple|Slabo+27px' rel='stylesheet' type='text/css'>
    link(href='http://fonts.googleapis.com/css?family=Droid+Serif|Berkshire+Swash', rel='stylesheet', type='text/css')
  |    
  body
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    |       
    .overlay
      header
        .wrap
          nav
            ul
              li
                p.link Features
              |                      
              li
                p.link Books
              |                      
              li
                p.link Contact
      |          
      .landingpage
        section.centered
          p Booksy
        |             
        .slogan
          p The social reading app.
      |          
      #link1.features.link
        p Ever read a Shakespeare play for school and had no idea what a sentence means?
        | &#x9;&#x9;&#x9;
        p
          | Ever had a brilliant insight while reading Harry Potter, and just can&rsquo;t keep it to yourself?
        | &#x9;&#x9;&#x9;
        p
          | Booksy is a social reading app that allows you to discuss an e-book on the side of the page as you read Have your own online book club with people all over the world.
        |             
        p Features: 
        |             
        p -Allows users to comment on books as they read.
        |             
        p -Provides a unique literary discussion experience.
        |             
        p -Helps comprehension of book material.
        |             
        p -Offers readers the opportunity to share their thoughts on the book.
        |             
        p -Lets readers ask questions about specific sections of the book.
      |          
      .books.link
        p Available Books: 
        |             
        .available
          p.book Tom Sawyer
          |                
          p.book Pride and Prejudice
          |                
          p.book Treasure Island
          |                
          p.book The Time Machine
          |                
          p.book The Invisible Man
      |          
      .tomSawyerPage
        p Tom Sawyer Chapter 1
        |             
        p
          | &quot;Tom!&quot;
          | No answer.
          | &quot;Tom!&quot;
          | No answer.
          | &quot;What&apos;s gone with that boy, I wonder? You Tom!&quot;
          | No answer.
          | The old lady pulled her spectacles down and looked over them about the room; then she put them up and looked out under them. She seldom or never looked through them for so small a thing as a boy; they were her state pair, the pride of her heart, and were built for &quot;style,&quot; not service -- she could have seen through a pair of stove-lids just as well. She looked perplexed for a moment, and then said, not fiercely, but still loud enough for the furniture to hear:
          | &quot;Well, I lay if I get hold of you I&apos;ll --&quot;
          | She did not finish, for by this time she was bending down and punching under the bed with the broom, and so she needed breath to punctuate the punches with. She resurrected nothing but the cat.
          | &quot;I never did see the beat of that boy!&quot;
          | She went to the open door and stood in it and looked out among the tomato vines and &quot;jimpson&quot; weeds that constituted the garden. No Tom. So she lifted up her voice at an angle calculated for distance and shouted:
          | &quot;Y-o-u-u Tom!&quot;
          | There was a slight noise behind her and she turned just in time to seize a small boy by the slack of his roundabout and arrest his flight.
          | &quot;There! I might &apos;a&apos; thought of that closet. What you been doing in there?&quot;
          | &quot;Nothing.&quot;
          | &quot;Nothing! Look at your hands. And look at your mouth. What is that?&quot;
          | &quot;I don&apos;t know, aunt.&quot;
          | &quot;Well, I know. It&apos;s jam -- that&apos;s what it is. Forty times I&apos;ve said if you didn&apos;t let that jam alone I&apos;d skin you. Hand me that switch.&quot;
          | The switch hovered in the air -- the peril was desperate --
          | &quot;My! Look behind you, aunt!&quot;
          | The old lady whirled round, and snatched her skirts out of danger. The lad fled on the instant, scrambled up the high board-fence, and disappeared over it.
          | His aunt Polly stood surprised a moment, and then broke into a gentle laugh.
          | &quot;Hang the boy, can&apos;t I never learn anything? Ain&apos;t he played me tricks enough like that for me to be looking out for him by this time? But old fools is the biggest fools there is. Can&apos;t learn an old dog new tricks, as the saying is. But my goodness, he never plays them alike, two days, and how is a body to know what&apos;s coming? He &apos;pears to know just how long he can torment me before I get my dander up, and he knows if he can make out to put me off for a minute or make me laugh, it&apos;s all down again and I can&apos;t hit him a lick. I ain&apos;t doing my duty by that boy, and that&apos;s the Lord&apos;s truth, goodness knows. Spare the rod and spoil the child, as the Good Book says. I&apos;m a laying up sin and suffering for us both, I know. He&apos;s full of the Old Scratch, but laws-a-me! he&apos;s my own dead sister&apos;s boy, poor thing, and I ain&apos;t got the heart to lash him, somehow. Every time I let him off, my conscience does hurt me so, and every time I hit him my old heart most breaks. Well-a-well, man that is born of woman is of few days and full of trouble, as the Scripture says, and I reckon it&apos;s so. He&apos;ll play hookey this evening [*], and I&apos;ll just be obliged to make him work, to-morrow, to punish him. It&apos;s mighty hard to make him work Saturdays, when all the boys is having holiday, but he hates work more than he hates anything else, and I&apos;ve got to do some of my duty by him, or I&apos;ll be the ruination of the child.&quot;
          | Tom did play hookey, and he had a very good time. He got back home barely in season to help Jim, the small colored boy, saw next-day&apos;s wood and split the kindlings before supper -- at least he was there in time to tell his adventures to Jim while Jim did three-fourths of the work. Tom&apos;s younger brother (or rather half-brother) Sid was already through with his part of the work (picking up chips), for he was a quiet boy, and had no adventurous, troublesome ways.
          | While Tom was eating his supper, and stealing sugar as opportunity offered, Aunt Polly asked him questions that were full of guile, and very deep -- for she wanted to trap him into damaging revealments. Like many other simple-hearted souls, it was her pet vanity to believe she was endowed with a talent for dark and mysterious diplomacy, and she loved to contemplate her most transparent devices as marvels of low cunning. Said she:
          | &quot;Tom, it was middling warm in school, warn&apos;t it?&quot;
          | &quot;Yes&apos;m.&quot;
          | &quot;Powerful warm, warn&apos;t it?&quot;
          | &quot;Yes&apos;m.&quot;
          | &quot;Didn&apos;t you want to go in a-swimming, Tom?&quot;
          | A bit of a scare shot through Tom -- a touch of uncomfortable suspicion. He searched Aunt Polly&apos;s face, but it told him nothing. So he said:
          | &quot;No&apos;m -- well, not very much.&quot;
          | The old lady reached out her hand and felt Tom&apos;s shirt, and said:
          | &quot;But you ain&apos;t too warm now, though.&quot; And it flattered her to reflect that she had discovered that the shirt was dry without anybody knowing that that was what she had in her mind. But in spite of her, Tom knew where the wind lay, now. So he forestalled what might be the next move:
          | &quot;Some of us pumped on our heads -- mine&apos;s damp yet. See?&quot;
          | Aunt Polly was vexed to think she had overlooked that bit of circumstantial evidence, and missed a trick. Then she had a new inspiration:
          | &quot;Tom, you didn&apos;t have to undo your shirt collar where I sewed it, to pump on your head, did you? Unbutton your jacket!&quot;
          | The trouble vanished out of Tom&apos;s face. He opened his jacket. His shirt collar was securely sewed.
          | &quot;Bother! Well, go &apos;long with you. I&apos;d made sure you&apos;d played hookey and been a-swimming. But I forgive ye, Tom. I reckon you&apos;re a kind of a singed cat, as the saying is -- better&apos;n you look. This time.&quot;
          | She was half sorry her sagacity had miscarried, and half glad that Tom had stumbled into obedient conduct for once.
          | But Sidney said:
          | &quot;Well, now, if I didn&apos;t think you sewed his collar with white thread, but it&apos;s black.&quot;
          | &quot;Why, I did sew it with white! Tom!&quot;
          | But Tom did not wait for the rest. As he went out at the door he said:
          | &quot;Siddy, I&apos;ll lick you for that.&quot;
          | In a safe place Tom examined two large needles which were thrust into the lapels of his jacket, and had thread bound about them -- one needle carried white thread and the other black. He said:
          | &quot;She&apos;d never noticed if it hadn&apos;t been for Sid. Confound it! sometimes she sews it with white, and sometimes she sews it with black. I wish to geeminy she&apos;d stick to one or t&apos;other -- I can&apos;t keep the run of &apos;em. But I bet you I&apos;ll lam Sid for that. I&apos;ll learn him!&quot;
          | He was not the Model Boy of the village. He knew the model boy very well though -- and loathed him.
          | Within two minutes, or even less, he had forgotten all his troubles. Not because his troubles were one whit less heavy and bitter to him than a man&apos;s are to a man, but because a new and powerful interest bore them down and drove them out of his mind for the time -- just as men&apos;s misfortunes are forgotten in the excitement of new enterprises. This new interest was a valued novelty in whistling, which he had just acquired from a negro, and he was suffering to practise it undisturbed. It consisted in a peculiar bird-like turn, a sort of liquid warble, produced by touching the tongue to the roof of the mouth at short intervals in the midst of the music -- the reader probably remembers how to do it, if he has ever been a boy. Diligence and attention soon gave him the knack of it, and he strode down the street with his mouth full of harmony and his soul full of gratitude. He felt much as an astronomer feels who has discovered a new planet -- no doubt, as far as strong, deep, unalloyed pleasure is concerned, the advantage was with the boy, not the astronomer.
          | The summer evenings were long. It was not dark, yet. Presently Tom checked his whistle. A stranger was before him -- a boy a shade larger than himself. A new-comer of any age or either sex was an impressive curiosity in the poor little shabby village of St. Petersburg. This boy was well dressed, too -- well dressed on a week-day. This was simply astounding. His cap was a dainty thing, his closebuttoned blue cloth roundabout was new and natty, and so were his pantaloons. He had shoes on -- and it was only Friday. He even wore a necktie, a bright bit of ribbon. He had a citified air about him that ate into Tom&apos;s vitals. The more Tom stared at the splendid marvel, the higher he turned up his nose at his finery and the shabbier and shabbier his own outfit seemed to him to grow. Neither boy spoke. If one moved, the other moved -- but only sidewise, in a circle; they kept face to face and eye to eye all the time. Finally Tom said:
          | &quot;I can lick you!&quot;
          | &quot;I&apos;d like to see you try it.&quot;
          | &quot;Well, I can do it.&quot;
          | &quot;No you can&apos;t, either.&quot;
          | &quot;Yes I can.&quot;
          | &quot;No you can&apos;t.&quot;
          | &quot;I can.&quot;
          | &quot;You can&apos;t.&quot;
          | &quot;Can!&quot;
          | &quot;Can&apos;t!&quot;
          | An uncomfortable pause. Then Tom said:
          | &quot;What&apos;s your name?&quot;
          | &quot;&apos;Tisn&apos;t any of your business, maybe.&quot;
          | &quot;Well I &apos;low I&apos;ll make it my business.&quot;
          | &quot;Well why don&apos;t you?&quot;
          | &quot;If you say much, I will.&quot;
          | &quot;Much -- much -- much. There now.&quot;
          | &quot;Oh, you think you&apos;re mighty smart, don&apos;t you? I could lick you with one hand tied behind me, if I wanted to.&quot;
          | &quot;Well why don&apos;t you do it? You say you can do it.&quot;
          | &quot;Well I will, if you fool with me.&quot;
          | &quot;Oh yes -- I&apos;ve seen whole families in the same fix.&quot;
          | &quot;Smarty! You think you&apos;re some, now, don&apos;t you? Oh, what a hat!&quot;
          | &quot;You can lump that hat if you don&apos;t like it. I dare you to knock it off -- and anybody that&apos;ll take a dare will suck eggs.&quot;
          | &quot;You&apos;re a liar!&quot;
          | &quot;You&apos;re another.&quot;
          | &quot;You&apos;re a fighting liar and dasn&apos;t take it up.&quot;
          | &quot;Aw -- take a walk!&quot;
          | &quot;Say -- if you give me much more of your sass I&apos;ll take and bounce a rock off&apos;n your head.&quot;
          | &quot;Oh, of course you will.&quot;
          | &quot;Well I will.&quot;
          | &quot;Well why don&apos;t you do it then? What do you keep saying you will for? Why don&apos;t you do it? It&apos;s because you&apos;re afraid.&quot;
          | &quot;I ain&apos;t afraid.&quot;
          | &quot;You are.&quot;
          | &quot;I ain&apos;t.&quot;
          | &quot;You are.&quot;
          | Another pause, and more eying and sidling around each other. Presently they were shoulder to shoulder. Tom said:
          | &quot;Get away from here!&quot;
          | &quot;Go away yourself!&quot;
          | &quot;I won&apos;t.&quot;
          | &quot;I won&apos;t either.&quot;
          | So they stood, each with a foot placed at an angle as a brace, and both shoving with might and main, and glowering at each other with hate. But neither could get an advantage. After struggling till both were hot and flushed, each relaxed his strain with watchful caution, and Tom said:
          | &quot;You&apos;re a coward and a pup. I&apos;ll tell my big brother on you, and he can thrash you with his little finger, and I&apos;ll make him do it, too.&quot;
          | &quot;What do I care for your big brother? I&apos;ve got a brother that&apos;s bigger than he is -- and what&apos;s more, he can throw him over that fence, too.&quot; [Both brothers were imaginary.]
          | &quot;That&apos;s a lie.&quot;
          | &quot;Your saying so don&apos;t make it so.&quot;
          | Tom drew a line in the dust with his big toe, and said:
          | &quot;I dare you to step over that, and I&apos;ll lick you till you can&apos;t stand up. Anybody that&apos;ll take a dare will steal sheep.&quot;
          | The new boy stepped over promptly, and said:
          | &quot;Now you said you&apos;d do it, now let&apos;s see you do it.&quot;
          | &quot;Don&apos;t you crowd me now; you better look out.&quot;
          | &quot;Well, you said you&apos;d do it -- why don&apos;t you do it?&quot;
          | &quot;By jingo! for two cents I will do it.&quot;
          | The new boy took two broad coppers out of his pocket and held them out with derision. Tom struck them to the ground. In an instant both boys were rolling and tumbling in the dirt, gripped together like cats; and for the space of a minute they tugged and tore at each other&apos;s hair and clothes, punched and scratched each other&apos;s nose, and covered themselves with dust and glory. Presently the confusion took form, and through the fog of battle Tom appeared, seated astride the new boy, and pounding him with his fists. &quot;Holler &apos;nuff!&quot; said he.
          | The boy only struggled to free himself. He was crying -- mainly from rage.
          | &quot;Holler &apos;nuff!&quot; -- and the pounding went on.
          | At last the stranger got out a smothered &quot;&apos;Nuff!&quot; and Tom let him up and said:
          | &quot;Now that&apos;ll learn you. Better look out who you&apos;re fooling with next time.&quot;
          | The new boy went off brushing the dust from his clothes, sobbing, snuffling, and occasionally looking back and shaking his head and threatening what he would do to Tom the &quot;next time he caught him out.&quot; To which Tom responded with jeers, and started off in high feather, and as soon as his back was turned the new boy snatched up a stone, threw it and hit him between the shoulders and then turned tail and ran like an antelope. Tom chased the traitor home, and thus found out where he lived. He then held a position at the gate for some time, daring the enemy to come outside, but the enemy only made faces at him through the window and declined. At last the enemy&apos;s mother appeared, and called Tom a bad, vicious, vulgar child, and ordered him away. So he went away; but he said he &quot;&apos;lowed&quot; to &quot;lay&quot; for that boy.
          | He got home pretty late that night, and when he climbed cautiously in at the window, he uncovered an ambuscade, in the person of his aunt; and when she saw the state his clothes were in her resolution to turn his Saturday holiday into captivity at hard labor became adamantine in its firmness.
      |          
      .pridePrejudicePage
        p Pride and Prejudice Chapter 
        |             
        p
          | It is a truth universally acknowledged, that a single man in possession of a good fortune, must be in want of a wife.
          | However little known the feelings or views of such a man may be on his first entering a neighbourhood, this truth is so well fixed in the minds of the surrounding families, that he is considered the rightful property of some one or other of their daughters.
          | &quot;My dear Mr. Bennet,&quot; said his lady to him one day, &quot;have you heard that Netherfield Park is let at last?&quot;
          | Mr. Bennet replied that he had not.
          | &quot;But it is,&quot; returned she; &quot;for Mrs. Long has just been here, and she told me all about it.&quot;
          | Mr. Bennet made no answer.
          | &quot;Do you not want to know who has taken it?&quot; cried his wife impatiently.
          | &quot;You want to tell me, and I have no objection to hearing it.&quot;
          | This was invitation enough.
          | &quot;Why, my dear, you must know, Mrs. Long says that Netherfield is taken by a young man of large fortune from the north of England; that he came down on Monday in a chaise and four to see the place, and was so much delighted with it, that he agreed with Mr. Morris immediately; that he is to take possession before Michaelmas, and some of his servants are to be in the house by the end of next week.&quot;
          | &quot;What is his name?&quot;
          | &quot;Bingley.&quot;
          | &quot;Is he married or single?&quot;
          | &quot;Oh! Single, my dear, to be sure! A single man of large fortune; four or five thousand a year. What a fine thing for our girls!&quot;
          | &quot;How so? How can it affect them?&quot;
          | &quot;My dear Mr. Bennet,&quot; replied his wife, &quot;how can you be so tiresome! You must know that I am thinking of his marrying one of them.&quot;
          | &quot;Is that his design in settling here?&quot;
          | &quot;Design! Nonsense, how can you talk so! But it is very likely that he may fall in love with one of them, and therefore you must visit him as soon as he comes.&quot;
          | &quot;I see no occasion for that. You and the girls may go, or you may send them by themselves, which perhaps will be still better, for as you are as handsome as any of them, Mr. Bingley may like you the best of the party.&quot;
          | &quot;My dear, you flatter me. I certainly have had my share of beauty, but I do not pretend to be anything extraordinary now. When a woman has five grown-up daughters, she ought to give over thinking of her own beauty.&quot;
          | &quot;In such cases, a woman has not often much beauty to think of.&quot;
          | &quot;But, my dear, you must indeed go and see Mr. Bingley when he comes into the neighbourhood.&quot;
          | &quot;It is more than I engage for, I assure you.&quot;
          | &quot;But consider your daughters. Only think what an establishment it would be for one of them. Sir William and Lady Lucas are determined to go, merely on that account, for in general, you know, they visit no newcomers. Indeed you must go, for it will be impossible for us to visit him if you do not.&quot;
          | &quot;You are over-scrupulous, surely. I dare say Mr. Bingley will be very glad to see you; and I will send a few lines by you to assure him of my hearty consent to his marrying whichever he chooses of the girls; though I must throw in a good word for my little Lizzy.&quot;
          | &quot;I desire you will do no such thing. Lizzy is not a bit better than the others; and I am sure she is not half so handsome as Jane, nor half so good-humoured as Lydia. But you are always giving her the preference.&quot;
          | &quot;They have none of them much to recommend them,&quot; replied he; &quot;they are all silly and ignorant like other girls; but Lizzy has something more of quickness than her sisters.&quot;
          | &quot;Mr. Bennet, how can you abuse your own children in such a way? You take delight in vexing me. You have no compassion for my poor nerves.&quot;
          | &quot;You mistake me, my dear. I have a high respect for your nerves. They are my old friends. I have heard you mention them with consideration these last twenty years at least.&quot;
          | &quot;Ah, you do not know what I suffer.&quot;
          | &quot;But I hope you will get over it, and live to see many young men of four thousand a year come into the neighbourhood.&quot;
          | &quot;It will be no use to us, if twenty such should come, since you will not visit them.&quot;
          | &quot;Depend upon it, my dear, that when there are twenty, I will visit them all.&quot;
          | Mr. Bennet was so odd a mixture of quick parts, sarcastic humour, reserve, and caprice, that the experience of three-and-twenty years had been insufficient to make his wife understand his character. Her mind was less difficult to develop. She was a woman of mean understanding, little information, and uncertain temper. When she was discontented, she fancied herself nervous. The business of her life was to get her daughters married; its solace was visiting and news.
      |          
      .treasureIslandPage
        p Gather round ye mateys to hear a tale of pirates
        |          &#x9;
        p Treasure Island Chapter 1 
        |          &#x9;
        p
          | SQUIRE TRELAWNEY, Dr. Livesey, and the rest of these gentlemen having asked me to write down the whole particulars about Treasure Island, from the beginning to the end, keeping nothing back but the bearings of the island, and that only because there is still treasure not yet lifted, I take up my pen in the year of grace 17&mdash; and go back to the time when my father kept the &quot;Admiral Benbow&quot; inn and the brown old seaman with the sabre cut first took up his lodging under our roof.
          | I remember him as if it were yesterday, as he came plodding to the inn door, his sea-chest following behind him in a hand-barrow&mdash;a tall, strong, heavy, nut-brown man, his tarry pigtail falling over the shoulder of his soiled blue coat, his hands ragged and scarred, with black, broken nails, and the sabre cut across one cheek, a dirty, livid white. I remember him looking round the cover and whistling to himself as he did so, and then breaking out in that old sea-song that he sang so often afterwards:
          | &quot;Fifteen men on the dead man&apos;s chest&mdash;
          | Yo-ho-ho, and a bottle of rum!&quot;
          | [12] in the high, old tottering voice that seemed to have been tuned and broken at the capstan bars. Then he rapped on the door with a bit of stick like a handspike that he carried, and when my father appeared, called roughly for a glass of rum. This, when it was brought to him, he drank slowly, like a connoisseur, lingering on the taste and still looking about him at the cliffs and up at our signboard.
          | &quot;This is a handy cove,&quot; says he at length; &quot;and a pleasant sittyated grog-shop. Much company, mate?&quot;
          | My father told him no, very little company, the more was the pity.
          | &quot;Well, then,&quot; said he, &quot;this is the berth for me. Here you, matey,&quot; he cried to the man who trundled the barrow; &quot;bring up alongside and help up my chest. I&apos;ll stay here a bit,&quot; he continued. &quot;I&apos;m a plain man; rum and bacon and eggs is what I want, and that head up there for to watch ships off. What you mought call me? You mought call me captain. Oh, I see what you&apos;re at&mdash;there&quot;; and he threw down three or four gold pieces on the threshold. &quot;You can tell me when I&apos;ve worked through that,&quot; says he, looking as fierce as a commander.
          | And indeed bad as his clothes were and coarsely as he spoke, he had none of the appearance of a man who sailed before the mast, but seemed like a mate or skipper accustomed to be obeyed or to strike. The man who came with the barrow told us the mail had set him down the morning before at the Royal George, that he had inquired what inns there were [13] along the coast, and hearing ours well spoken of, I suppose, and described as lonely, had chosen it from the others for his place of residence. And that was all we could learn of our guest.
          | He was a very silent man by custom. All day he hung round the cove or upon the cliffs with a brass telescope; all evening he sat in a corner of the parlour next the fire and drank rum and water very strong. Mostly he would not speak when spoken to, only look up sudden and fierce and blow through his nose like a fog-horn; and we and the people who came about our house soon learned to let him be. Every day when he came back from his stroll he would ask if any seafaring men had gone by along the road. At first we thought it was the want of company of his own kind that made him ask this question, but at last we began to see he was desirous to avoid them. When a seaman did put up at the &quot;Admiral Benbow&quot; (as now and then some did, making by the coast road for Bristol) he would look in at him through the curtained door before he entered the parlour; and he was always sure to be as silent as a mouse when any such was present. For me, at least, there was no secret about the matter, for I was, in a way, a sharer in his alarms. He had taken me aside one day and promised me a silver fourpenny on the first of every month if I would only keep my &quot;weather-eye open for a seafaring man with one leg&quot; and let him know the moment he appeared. Often enough when the first of the month came round and I applied to him for my wage, he would only blow through his nose at me and stare me down, but before [14] the week was out he was sure to think better of it, bring me my four-penny piece, and repeat his orders to look out for &quot;the seafaring man with one leg.&quot;
          | How that personage haunted my dreams, I need scarcely tell you. On stormy nights, when the wind shook the four corners of the house and the surf roared along the cove and up the cliffs, I would see him in a thousand forms, and with a thousand diabolical expressions. Now the leg would be cut off at the knee, now at the hip; now he was a monstrous kind of a creature who had never had but the one leg, and that in the middle of his body. To see him leap and run and pursue me over hedge and ditch was the worst of nightmares. And altogether I paid pretty dear for my monthly fourpenny piece, in the shape of these abominable fancies.
          | But though I was so terrified by the idea of the seafaring man with one leg, I was far less afraid of the captain himself than anybody else who knew him. There were nights when he took a deal more rum and water than his head would carry; and then he would sometimes sit and sing his wicked, old, wild sea-songs, minding nobody; but sometimes he would call for glasses round and force all the trembling company to listen to his stories or bear a chorus to his singing. Often I have heard the house shaking with &quot;Yo-ho-ho, and a bottle of rum,&quot; all the neighbours joining in for dear life, with the fear of death upon them, and each singing louder than the other to avoid remark. For in these fits he was the most overriding companion [15] ever known; he would slap his hand on the table for silence all round; he would fly up in a passion of anger at a question, or sometimes because none was put, and so he judged the company was not following his story. Nor would he allow anyone to leave the inn till he had drunk himself sleepy and reeled off to bed.
          | His stories were what frightened people worst of all. Dreadful stories they were&mdash;about hanging, and walking the plank, and storms at sea, and the Dry Tortugas, and wild deeds and places on the Spanish Main. By his own account he must have lived his life among some of the wickedest men that God ever allowed upon the sea, and the language in which he told these stories shocked our plain country people almost as much as the crimes that he described. My father was always saying the inn would be ruined, for people would soon cease coming there to be tyrannized over and put down, and sent shivering to their beds; but I really believe his presence did us good. People were frightened at the time, but on looking back they rather liked it; it was a fine excitement in a quiet country life, and there was even a party of the younger men who pretended to admire him, calling him a &quot;true sea-dog&quot; and a &quot;real old salt&quot; and such like names, and saying there was the sort of man that made England terrible at sea.
          | In one way, indeed, he bade fair to ruin us, for he kept on staying week after week, and at last month after month, so that all the money had been long exhausted, and still my father never plucked up the heart to insist on having more. If ever he mentioned it, [16] the captain blew through his nose so loudly that you might say he roared, and stared my poor father out of the room. I have seen him wringing his hands after such a rebuff, and I am sure the annoyance and the terror he lived in must have greatly hastened his early and unhappy death.
          | All the time he lived with us the captain made no change whatever in his dress but to buy some stockings from a hawker. One of the cocks of his hat having fallen down, he let it hang from that day forth, though it was a great annoyance when it blew. I remember the appearance of his coat, which he patched himself upstairs in his room, and which, before the end, was nothing but patches. He never wrote or received a letter, and he never spoke with any but the neighbours, and with these, for the most part, only when drunk on rum. The great sea-chest none of us had ever seen open.
          | He was only once crossed, and that was towards the end, when my poor father was far gone in a decline that took him off. Dr. Livesey came late one afternoon to see the patient, took a bit of dinner from my mother, and went into the parlour to smoke a pipe until his horse should come down from the hamlet, for we had no stabling at the old Benbow. I followed him in, and I remember observing the contrast the neat, bright doctor, with his powder as white as snow and his bright, black eyes and pleasant manners, made with the coltish country folk, and above all, with that filthy, heavy, bleared scarecrow of a pirate of ours, sitting, far gone in rum, with his arms on the table. [17] Suddenly he&mdash;the captain, that is&mdash;began to pipe up his eternal song:
          | &quot;Fifteen men on the dead man&apos;s chest&mdash;
          | Yo-ho-ho, and a bottle of rum!
          | Drink and the devil had done for the rest&mdash;
          | Yo-ho-ho, and a bottle of rum!&quot;
          | At first I had supposed &quot;the dead man&apos;s chest&quot; to be that identical big box of his upstairs in the front room, and the thought had been mingled in my nightmares with that of the one-legged seafaring man. But by this time we had all long ceased to pay any particular notice to the song; it was new, that night, to nobody but Dr. Livesey, and on him I observed it did not produce an agreeable effect, for he looked up for a moment quite angrily before he went on with his talk to old Taylor, the gardener, on a new cure for the rheumatics. In the meantime, the captain gradually brightened up at his own music, and at last flapped his hand upon the table before him in a way we all knew to mean silence. The voices stopped at once, all but Dr. Livesey&apos;s; he went on as before speaking clear and kind and drawing briskly at his pipe between every word or two. The captain glared at him for a while, flapped his hand again, glared still harder, and at last broke out with a villainous, low oath, &quot;Silence, there, between decks!&quot;
          | &quot;Were you addressing me, sir?&quot; says the doctor; and when the ruffian had told him, with another oath, that this was so, &quot;I have only one thing to say to you, sir,&quot; replies the doctor, &quot;that if you keep on drinking rum, [18] the world will soon be quit of a very dirty scoundrel!&quot;
          | The old fellow&apos;s fury was awful. He sprang to his feet, drew and opened a sailor&apos;s clasp-knife, and balancing it open on the palm of his hand, threatened to pin the doctor to the wall.
          | The doctor never so much as moved. He spoke to him as before, over his shoulder and in the same tone of voice, rather high, so that all the room might hear, but perfectly calm and steady: &quot;If you do not put that knife this instant in your pocket, I promise, upon my honour, you shall hang at the next assizes.&quot;
          | Then followed a battle of looks between them, but the captain soon knuckled under, put up his weapon, and resumed his seat, grumbling like a beaten dog.
          | &quot;And now, sir,&quot; continued the doctor, &quot;since I now know there&apos;s such a fellow in my district, you may count I&apos;ll have an eye upon you day and night. I&apos;m not a doctor only; I&apos;m a magistrate; and if I catch a breath of complaint against you, if it&apos;s only for a piece of incivility like tonight&apos;s, I&apos;ll take effectual means to have you hunted down and routed out of this. Let that suffice.&quot;
          | Soon after, Dr. Livesey&apos;s horse came to the door and he rode away, but the captain held his peace that evening, and for many evenings to come.
      |          
      .invisibleManPage
        p The Invisible Man
        |          &#x9;
        p
          | The stranger came early in February, one wintry day, through a biting wind and a driving snow, the last snowfall of the year, over the down, walking as it seemed from Bramblehurst railway station, and carrying a little black portmanteau in his thickly gloved hand. He was wrapped up from head to foot, and the brim of his soft felt hat hid every inch of his face but the shiny tip of his nose; the snow had piled itself against his shoulders and chest, and added a white crest to the burden he carried. He staggered into the Coarch and Horses, more dead than alive as it seemed, and flung his portmanteau down. &quot;A fire,&quot; he cried, &quot;in the name of human charity! A room and a fire!&quot; He stamped and shook the snow from off himself in the bar, and followed Mrs. Hall into her guest parlour to strike his bargain. And with that much introduction, that and a ready acquiescence to terms and a couple of sovereigns flung upon the table, he took up his quarters in the inn.
          | Mrs. Hall lit the fire and left him there while she went to prepare him a meal with her own hands. A guest to stop at Iping in the wintertime was an unheard-of piece of luck, let alone a guest who was no &quot;haggler,&quot; and she was resolved to show herself worthy of her good fortune. As soon as the bacon was well under way, and Millie, her lymphatic aid, had been been brisked up a bit by a few deftly chosen expressions of contempt, she carried the cloth, plates, and glasses into the parlour and began to lay them with the utmost &eacute;clat. Although the fire was burning up briskly, she was surprised to see that her visitor still wore his hat and coat, standing with his back to her and staring out of the window at the falling snow in the yard. His gloved hands were clasped behind him, and he seemed to be lost in thought. She noticed that the melted snow that still sprinkled his shoulders dripped upon her carpet. &quot;Can I take your hat and coat, sir,&quot; she said, &quot;and give them a good dry in the kitchen?&quot;
          | &quot;No,&quot; he said without turning.
          | She was not sure she had heard him, and was about to repeat her question.
          | He turned his head and looked at her over his shoulder. &quot;I prefer to keep them on,&quot; he said with emphasis, and she noticed that he wore big blue spectacles with side-lights, and had a bushy side-whisker over his coatcollar that completely hid his cheeks and face.
          | &quot;Very well, sir,&quot; she said. &quot;As you like. In a bit the room will be warmer.&quot;
          | He made no answer, and had turned his face away from her again, and Mrs. Hall, feeling that her conversational advances were ill-timed, laid the rest of the table things in a quick staccato and whisked out of the room. When she returned he was still standing there, like a man of stone, his back hunched, his collar turned up, his dripping hat-brim turned down, hiding his face and ears completely. She put down the eggs and bacon with considerable emphasis, and called rather than said to him, &quot;Your lunch is served, sir.&quot;
          | &quot;Thank you.&quot; he said at the same time, and did not stir until she was closing the door. Then he swung round and approached the table with a certain eager quickness.
          | As she went behind the bar to the kitchen she heard a sound repeated at regular intervals. Chirk, chirk, chirk, it went, the sound of a spoon being rapidly whisked round a basin. &quot;That girl!&quot; she said. &quot;There! I clean forgot it. It&apos;s her being so long!&quot; And while she herself finished mixing the mustard, she gave Millie a few verbal stabs for her excessive slowness. She had cooked the ham and eggs, laid the table, and done everything, while Millie (help indeed!) had only succeeded in delaying the mustard. And him a new guest and wanting to stay! Then she filled the mustard pot, and, putting it with a certain stateliness upon a gold and black tea-tray, carried it into the parlour.
          | She rapped and entered promptly. As she did so her visitor moved quickly, so that she got but a glimpse of a white object disappearing behind the table. It would seem he was picking something from the floor. She rapped down the mustard pot on the table, and then she noticed the overcoat and hat had been taken off and put over a chair in front of the fire, and a pair of wet boots threatened rust to her steel fender. She went to these things resolutely. &quot;I suppose I may have them to dry now,&quot; she said in a voice that brooked no denial.
          | &quot;Leave the hat,&quot; said her visitor, in a muffled voice, and turning she saw he had raised his head and was sitting and looking at her.
          | For a moment she stook gaping at him, too surprised to speak.
          | He held a white cloth&mdash;it was a serviette he had brought with him&mdash;over the lower part of his face, so that his mouth and jaws were completely hidden, and that was the reason for his muffled voice. But it was not that which startled Mrs. Hall, It was the fact that all his forehead above his blue glasses was covered by a white bandage, and that another covered his ears, leaving not a scrap of his face exposed excepting only his pink, peaked nose. It was bright, pink, and shiny just as it had been at first. He wore a dark-brown velvet jacket with a high, black, linen-lined collar turned up about his neck. The thick black hair, escaping as it could below and between the cross bandages, projected in curious tails and horns, giving him the strangest appearance conceivable. This muffled and bandaged head was so unlike what she had anticipated, that for a moment she was rigid.
          | He did not remove the serviette, but remained holding it, as she saw now, with a brown gloved hand, and regarding her with his inscrutable blue glasses. &quot;Leave the hat,&quot; he said, speaking very distinctly through the white cloth.
          | Her nerves began to recover from the shock they had received. She placed the hat on the chair again by the fire. &quot;I didn&apos;t know, sir,&quot; she began, &quot;that&mdash;&quot; and she stopped embarrassed.
          | &quot;Thank you,&quot; he said dryily, glancing from her to the door and then at her again.
          | &quot;I&apos;ll have them nicely dried, sir, at once,&quot; she said, and carried his clothes out of the room. She glanced at his white-swathed head and blue goggles again as she was going out the door; but his napkin was still in front of his face. She shivered a little as she closed the door behind her, and her face was eloquent of her surprise and perplexity. &quot;I never,&quot; she whispered. &quot;There!&quot; She went quite softly to the kitchen, and was too preoccupied to ask Millie what she was messing about with now, when she got there.
          | The visitor sat and listened to her retreating feet. He glanced inquiringly at the window before he removed his serviette, and resumed his meal. He took a mouthful, glanced suspiciously at the window, took another mouthful, then rose and, taking the serviette in his hand, walked across the room and pulled the blind down to the top of the white muslin that obscured the lower panes. This left the room in a twilight. This done, he returned with an easier air to the table and his meal.
          | &quot;The poor soul&apos;s had an accident or an operation or something,&quot; said Mrs. Hall. &quot;What a turn them bandages did give me, to be sure!&quot;
          | She put on some more coal, unfolded the clothes-horse, and extended the traveller&apos;s coat upon this. &quot;And they goggles! Why, he looked more like a divin&apos;-helmet than a human man!&quot; She hung his muffler on a corner of the horse. &quot;And holding that handkercher over his mouth all the time. Talkin&apos; through it! . . . Perhaps his mouth was hurt too&mdash;maybe.&quot;
          | She turned round, as one who suddenly remembers. &quot;Bless my soul alive!&quot; she said, going off at a tangent; &quot;ain&apos;t you done them taters yet, Millie?&quot;
          | When Mrs. Hall went to clear away the stranger&apos;s lunch, her idea that his mouth must also have been cut or disfigured in the accident she supposed him to have suffered, was confirmed, for he was smoking a pipe, and all the time that she was in the room he never loosened the silk muffler he had wrapped round the lower part of his face to put the mouthpiece to his lips. Yet it was not forgetfulness, for she saw he glanced at it as it smouldered out. He sat in the corner with his back to the window-blind and spoke now, having eaten and drunk and been comfortably warmed through, with less aggressive brevity than before. The reflection of the fire lent a kind of red animation to his big spectacles they had lacked hitherto.
          | &quot;I have some luggage,&quot; he said, &quot;at Bramblehurst station,&quot; and he asked her how he could have it sent. He bowed his bandaged head quite politely in acknowledgement of her explanation. &quot;To-morrow!&quot; he said. &quot;There is no speedier delivery?&quot; and seemed quite disappointed when she answered, &quot;No.&quot; Was she quite sure? No man with a trap who would go over?
          | Mrs. Hall, nothing loath, answered his questions and developed a conversation. &quot;It&apos;s a steep road by the down, sir,&quot; she said in answer to the question about a trap; and then, snatching at an opening, said, &quot;It was there a carriage was up-settled, a year ago and more, A gentleman killed, besides his coachman. Accidents, sir, happens in a moment, don&apos;t they?&quot;
          | But the visitor was not to be drawn so easily. &quot;They do,&quot; he said through his muffler, eyeing her quietly through his impenetrable glasses.
          | &quot;But they take long enough to get well, sir, Don&apos;t they? . . . There was my sister&apos;s son, Tom, jest cut his arm with a scythe, Tumbled on it in the &apos;ayfield, and, bless me! he was three months tied up, sir. you&apos;d hardly believe it. It&apos;s regular given me a dread of a scythe, sir.&quot;
          | &quot;I can quite understand that,&quot; said the visitor.
          | &quot;He was afraid, one time, that he&apos;d have to have an op&apos;ration&mdash;he was that bad, sir.&quot;
          | The visitor laughed abruptly, a bark of a laugh that he seemed to bite and kill in his mouth. &quot;Was he?&quot; he said.
          | &quot;He was, sir. And no laughing matter to them as had the doing for him, as I had&mdash;my sister being took up with her little ones so much. There was bandages to do, sir, and bandages to undo. So that if I may make so bold as to say it, sir&mdash;&quot;
          | &quot;Will you get me some matches?&quot; said the visitor, quite abruptly. &quot;My pipe is out.&quot;
          | Mrs. Hall was pulled up suddenly. It was certainly rude of him, after telling him all she had done. She gasped at him for a moment, and remembered the two sovereigns. She went for the matches.
          | &quot;Thanks,&quot; he said concisely, as she put them down, and turned his shoulder upon her and stared out of the window again. It was altogether too discouraging. Evidently he was sensitive on the topic of operations and bandages. She did not &quot;make so bold as to say,&quot; however, after all. But his snubbing way had irritated her, and Millie had a hot time of it that afternoon.
          | The visitor remained in the parlour until four o&apos;clock, without giving the ghost of an excuse for an intrusion. For the most part he was quite still during that time; it would seem he sat in the growing darkness smoking in the firelight, perhaps dozing.
          | Once or twice a curious listener might have heard him at the coals, and for the space of five minutes he was audible pacing the room. He seemed to be talking to himself. Then the armchair creaked as he sat down again.
      |          
      .timeMachinePage
        p The Time Machine Chapter 1
        |          &#x9;
        p
          | The man who made the Time Machine&mdash;the man I shall call the Time Traveler&mdash;was well known in scientific circles a few years since, and the fact of his disappearance is also well known. He was a mathematician of peculiar subtlety, and one of our most conspicuous investigators in molecular physics. He did not confine himself to abstract science. Several ingenious, and one or two profitable, patents were his: very profitable they were, these last, as his handsome house at Richmond testified. To those who were his intimates, however, his scientific investigations were as nothing to his gift of speech. In the after-dinner hours he was ever a vivid and variegated talker, and at times his fantastic, often paradoxical, conceptions came so thick and close as to form one continuous discourse.
          | At these times he was as unlike the popular conception of a scientific investigator as a man could be. His cheeks would flush, his eyes grow bright; and the stranger the ideas that sprang and crowded in his brain, the happier and the more animated would be his exposition.
          | Up to the last there was held at his house a kind of informal gathering, which it was my privilege to attend, and where, at one time or another, I have met most of our distinguished literary and scientific men. There was a plain dinner at seven. After that we would adjourn to a room of easy-chairs and little tables, and there, with libations of alcohol and reeking pipes, we would invoke the god. At first the conversation was mere fragmentary chatter, with some local lacun&aelig; of digestive silence; but toward nine or half-past nine, if the god was favorable, some particular topic would triumph by a kind of natural selection, and would become the common interest. So it was, I remember, on the last Thursday but one of all&mdash;the Thursday when I first heard of the Time Machine.
          | I had been jammed in a corner with a gentleman who shall be disguised as Filby. He had been running down Milton&mdash;the public neglects poor Filby&apos;s little verses shockingly; and as I could think of nothing but the relative status of Filby and the man he criticised, and was much too timid to discuss that, the arrival of that moment of fusion, when our several conversations were suddenly merged into a general discussion, was a great relief to me.
          | &quot;What&apos;s that is nonsense?&quot; said a well-known Medical Man, speaking across Filby to the Psychologist.
          | &quot;He thinks,&quot; said the Psychologist, &quot;that Time&apos;s only a kind of Space.&quot;
          | &quot;It&apos;s not thinking,&quot; said the Time Traveler; &quot;it&apos;s knowledge.&quot;
          | &quot;Foppish affectation,&quot; said Filby, still harping upon his wrongs; but I feigned a great interest in this question of Space and Time.
          | &quot;Kant&mdash;&mdash;&quot; began the Psychologist.
          | &quot;Confound Kant!&quot; said the Time Traveler. &quot;I tell you I&apos;m right. I&apos;ve got experimental proof of it. I&apos;m not a metaphysician.&quot; He addressed the Medical Man across the room, and so brought the whole company into his own circle. &quot;It&apos;s the most promising departure in experimental work that has ever been made. It will simply revolutionize life. Heaven knows what life will be when I&apos;ve carried the thing through.&quot;
          | &quot;As long as it&apos;s not the water of immortality I don&apos;t mind,&quot; said the distinguished Medical Man. &quot;What is it?&quot;
          | &quot;Only a paradox,&quot; said the Psychologist.
          | The Time Traveler said nothing in reply, but smiled and began tapping his pipe upon the fender curb. This was the invariable presage of a dissertation.
          | &quot;You have to admit that time is a spatial dimension,&quot; said the Psychologist, emboldened by immunity and addressing the Medical Man, &quot;and then all sorts of remarkable consequences are found inevitable. Among others, that it becomes possible to travel about in time.&quot;
          | The Time Traveler chuckled. &quot;You forget that I&apos;m going to prove it experimentally.&quot;
          | &quot;Let&apos;s have your experiment,&quot; said the Psychologist.
          | &quot;I think we&apos;d like the argument first,&quot; said Filby.
          | &quot;It&apos;s this,&quot; said the Time Traveler. &quot;You must follow me carefully. I shall have to controvert one or two ideas that are almost universally accepted. The geometry, for instance, they taught you at school is founded on a misconception.&quot;
          | &quot;Is not that rather a large thing to expect us to begin upon?&quot; said Filby.
          | &quot;I do not mean to ask you to accept anything without reasonable ground for it. You will soon admit as much as I want from you. You know, of course, that a mathematical line, a line of thickness nil, has no real existence. They taught you that? Neither has a mathematical plane. These things are mere abstractions.&quot;
          | &quot;That is all right,&quot; said the Psychologist.
          | &quot;Nor, having only length, breadth, and thickness; can a cube have a real existence.&quot;
          | &quot;There I object,&quot; said Filby. &quot;Of course a solid body may exist. All real things&mdash;&mdash;&quot;
          | &quot;So most people think. But wait a moment. Can an instantaneous cube exist?&quot;
          | &quot;Don&apos;t follow you,&quot; said Filby.
          | &quot;Can a cube that does not last for any time at all, have a real existence?&quot;
          | Filby became pensive.
          | &quot;Clearly,&quot; the Philosophical Inventor proceeded, &quot;any real body must have extension in four directions: it must have Length, Breadth, Thickness, and&mdash;Duration. But through a natural infirmity of the flesh, which I will explain to you in a moment, we incline to overlook the fact. There are really four dimensions, three which we call the three planes of Space, and a fourth, Time. There is, however, a tendency to draw an unreal distinction between the former three dimensions and the latter, because it happens that our consciousness moves intermittently in one direction along the latter from the beginning to the end of our lives.&quot;
          | &quot;That,&quot; said a Very Young Man, making spasmodic efforts to relight his cigar over the lamp: &quot;that&mdash; very clear indeed.&quot;
          | &quot;Now, it is very remarkable that this is so extensively overlooked,&quot; continued the Philosophical Inventor, with a slight accession of cheerfulness. &quot;Really this is what is meant by the Fourth Dimension, though some people who talk about the Fourth Dimension do not know they mean it. It is only another way of looking at Time. There is no difference between Time and any of the three dimensions of Space except that our consciousness moves along it. But some foolish people have got hold of the wrong side of that idea. You have all heard what they have to say about this Fourth Dimension?&quot;
          | &quot;I have not,&quot; said the Provincial Mayor.
          | &quot;It is simply this, That space, as our mathematicians have it, is spoken of as having three dimensions, which one may call Length, Breadth, and Thickness, and is always definable by reference to these planes, each at right angle to the others. But some philosophical people have been asking why three dimensions particularly&mdash;why not another direction at right angles to the other three?&mdash;and have even tried to construct a Four-Dimensional geometry. Professor Simon Newcomb was expounding this to the New York Mathematical Society only a month or so ago. You know how on a flat surface, which has only two dimensions, we can represent a figure of a Three-Dimensional solid, and similarly they think that by models of three dimensions they could represent one of four&mdash;if they could master the perspective of the thing. See?&quot;
          | &quot;I think so,&quot; murmured the Provincial Mayor; and, knitting his brows, he lapsed into an introspective state, his lips moving as one who repeats mystic words. &quot;Yes, I think I see it now,&quot; he said after some time, brightening in a quite transitory manner.
          | &quot;Well, I do not mind telling you I have been at work upon this geometry of Four Dimensions for some time. Some of my results are curious: for instance, here is a portrait of a man at eight years old, another at fifteen, another at seventeen, another at twenty-three, and so on. All these are evidently sections, as it were, Three-Dimensional representations of his Four-Dimensional being, which is a fixed and unalterable thing.
          | &quot;Scientific people,&quot; proceeded the Philosopher, after the pause required for the proper assimilation of this, &quot;know very well that Time is only a kind of Space. Here is a popular scientific diagram, a weather record. This line I trace with my finger shows the movement of the barometer. Yesterday it was so high, yesterday night it fell, then this morning it rose again, and so gently upward to here. Surely the mercury did not trace this line in any of the dimensions of space generally recognized? But certainly it traced such a line, and that line, therefore, we must conclude, was along the Time Dimension.&quot;
          | &quot;But,&quot; said the Medical Man, staring hard at a coal in the fire, &quot;if Time is really only a fourth dimension of Space, why is it, and why has it always been, regarded as something different? And why cannot we move about in Time as we move about in the other dimensions of Space?&quot;
          | The Philosophical Person smiled. &quot;Are you so sure we can move freely in Space? Right and left we can go, backward and forward freely enough, and men always have done so. I admit we move freely in two dimensions. But now about up and down? Gravitation limits us there.&quot;
          | &quot;Not exactly,&quot; said the Medical Man. &quot;There are balloons.&quot;
          | &quot;But before the balloons, save for spasmodic jumping and the inequalities of the surface, man had no freedom of vertical movement.&quot;
          | &quot;Still they could move a little up and down,&quot; said the Medical Man.
          | &quot;Easier, far easier, down than up.&quot;
          | &quot;And you cannot move at all in Time. You cannot get away from the present moment.&quot;
          | &quot;My dear sir, that is just where you are wrong. That is just where the whole world has gone wrong. We are always getting away from the present moment. Our mental existences, which are immaterial and have no dimensions, are passing along the Time Dimension with a uniform velocity from the cradle to the grave. Just as we should travel down if we began our existence fifty miles above the earth&apos;s surface.&quot;
          | &quot;But the great difficulty is this,&quot; interrupted the Psychologist: &quot;You can move about in all directions of Space, but you cannot move about in Time.&quot;
          | &quot;That is the germ of my great discovery. But you are wrong to say that we cannot move about in Time. For instance, if I am recalling an incident very vividly I go back to the instant of its occurrence; I become absent-minded, as you say. I jump back for a moment. Of course we have no means of staying back for any length of time any more than a savage or an animal has of staying six feet above the ground. But a civilized man is better off than the savage in this respect. He can go up against gravitation in a balloon, and why should we not hope that ultimately he may be able to stop or accelerate his drift along the Time Dimension; or even to turn about and travel the other way?&quot;
          | &quot;Oh, this&quot;, began Filby, &quot;is all&mdash;&mdash; &quot;
          | &quot;Why not?&quot; said the Philosophical Inventor.
          | &quot;It&apos;s against reason,&quot; said Filby.
          | &quot;What reason?&quot; said the Philosophical Inventor.
          | &quot;You can show black is white by argument,&quot; said Filby, &quot;but you will never convince me.&quot;
          | &quot;Possibly not,&quot; said the Philosophical Inventor. &quot;But now you begin to see the object of my investigations into the geometry of Four Dimensions. Long ago I had a vague inkling of a machine&mdash;&mdash; &quot;
          | &quot;To travel through Time!&quot; said the Very Young Man.
          | &quot;That shall travel indifferently in any direction of Space and Time, as the driver determines.&quot;
          | Filby contented himself with laughter.
          | &quot;It would be remarkably convenient,&quot; the Psychologist suggested. &quot;One might travel back and witness the battle of Hastings.&quot;
          | &quot;Don&apos;t you think you would attract attention?&quot; said the Medical Man. &quot;Our ancestors had no great tolerance for anachronisms.&quot;
          | &quot;One might get one&apos;s Greek from the very lips of Homer and Plato,&quot; the Very Young Man thought.
          | &quot;In which case they would certainly plow you for the little-go. The German scholars have improved Greek so much.&quot;
          | &quot;Then, there is the future,&quot; said the Very Young Man. &quot;Just think! One might invest all one&apos;s money, leave it to accumulate at interest, and hurry on ahead.&quot;
          | &quot;To discover a society,&quot; said I, &quot;erected on a strictly communistic basis.&quot;
          | &quot;Of all the wild extravagant theories&mdash;&mdash; &quot; began the Psychologist.
          | &quot;Yes, so it seemed to me, and so I never talked of it until&mdash;&mdash;&quot;
          | &quot;Experimental verification!&quot; cried I. &quot;You are going to verify that!&quot;
          | &quot;The experiment!&quot; cried Filby, who was getting brain-weary.
          | &quot;Let&apos;s see your experiment, anyhow,&quot; said the Psychologist, &quot;though it&apos;s all humbug, you know.&quot;
          | The Time Traveler smiled round at us. Then, still smiling faintly, and with his hands deep in his trousers pockets, he walked slowly out of the room, and we heard his slippers shuffling down the long passage to his laboratory.
          | The Psychologist looked at us. &quot;I wonder what he&apos;s got?&quot;
          | &quot;Some sleight-of-hand trick or other,&quot; said the Medical Man, and Filby tried to tell us about a conjuror he had seen at Burslem, but before he had finished his preface the Time Traveler came back, and Filby&apos;s anecdote collapsed.
          | The thing the Time Traveler held in his hand was a glittering metallic framework, scarcely larger than a small clock, and very delicately made. There was ivory in it, and some transparent crystalline substance. And now I must be explicit, for this that follows&mdash;unless his explanation is to be accepted&mdash;is an absolutely unaccountable thing. He took one of the small octagonal tables that were scattered about the room, and set it in front of the fire, with two legs on the hearthrug. On this table he placed the mechanism. Then he drew up a chair and sat down. The only other object on the table was a small shaded lamp, the bright light of which fell full upon the model. There were also perhaps a dozen candles about, two in brass candlesticks upon the mantel and several in sconces, so that the room was brilliantly illuminated. I sat in a low armchair nearest the fire, and I drew this forward so as to be almost between the Time Traveler and the fireplace. Filby sat behind him, looking over his shoulder. The Medical Man and the Rector watched him in profile from the right, the Psychologist from the left. We were all on the alert. It appears incredible to me that any kind of trick, however subtly conceived and however adroitly done, could have been played upon us under these conditions.
          | The Time Traveler looked at us and then at the mechanism.
          | &quot;Well?&quot; said the Psychologist.
          | &quot;This little affair,&quot; said the Time Traveler, resting his elbows upon the table and pressing his hands together above the apparatus, &quot;is only a model. It is my plan for a machine to travel through Time. You will notice that it looks singularly askew, and that there is an odd twinkling appearance about this bar, as though it was in some way unreal.&quot; He pointed to the part with his finger. &quot;Also, here is one little white lever, and here is another.&quot;
          | The Medical Man got up out of his chair and peered into the thing. &quot;It&apos;s beautifully made,&quot; he said.
          | &quot;It took two years to make,&quot; retorted the Time Traveler. Then, when we had all done as the Medical Man, he said: &quot;Now I want you clearly to understand that this lever, being pressed over, sends the machine gliding into the future, and this other reverses the motion. This saddle represents the seat of a time traveler. Presently I am going to press the lever, and off the machine will go. It will vanish, pass into future time, and disappear. Have a good look at the thing. Look at the table too, and satisfy yourselves there is no trickery. I don&apos;t want to waste this model, and then be told I&apos;m a quack.&quot;
          | There was a minute&apos;s pause perhaps. The Psychologist seemed about to speak to me, but changed his mind. Then the Time Traveler put forth his finger toward the lever. &quot;No,&quot; he said suddenly; &quot;lend me your hand.&quot; And turning to the Psychologist, he took that individual&apos;s hand in his own and told him to put out his forefinger. So that it was the Psychologist himself who sent forth the model Time Machine on its interminable voyage. We all saw the lever turn. I am absolutely certain there was no trickery. There was a breath of wind, and the lamp flame jumped. One of the candles on the mantel was blown out, and the little machine suddenly swung round, became indistinct, was seen as a ghost for a second perhaps, as an eddy of faintly glittering brass and ivory; and it was gone&mdash;vanished! Save for the lamp the table was bare.
          | Everyone was silent for a minute. Then Filby said he was d&mdash;&mdash;d.
          | The Psychologist recovered from his stupor, and suddenly looked under the table. At that the Time Traveler laughed cheerfully. &quot;Well?&quot; he said, with a reminiscence of the Psychologist. Then, getting up, he went to the tobacco jar on the mantel, and with his back to us began to fill his pipe.
          | We stared at each other.
          | &quot;Look here,&quot; said the Medical Man, &quot;are you in earnest about this? Do you seriously believe that that machine has traveled into Time?&quot;
          | &quot;Certainly,&quot; said the Time Traveler, stooping to light a spill at the fire. Then he turned, lighting his pipe, to look at the Psychologist&apos;s face. (The Psychologist, to show that he was not unhinged, helped himself to a cigar and tried to light it uncut.) &quot;What is more, I have a big machine nearly finished in there,&quot;&mdash;he indicated the laboratory,&mdash;&quot;and when that is put together I mean to have a journey on my own account.&quot;
          | &quot;You mean to say that that machine has traveled into the future?&quot; said Filby.
          | &quot;Into the future or the past&mdash;I don&apos;t, for certain, know which.&quot;
          | After an interval the Psychologist had an inspiration.
          | &quot;It must have gone into the past if it has gone anywhere,&quot; he said.
          | &quot;Why?&quot; said the Time Traveler.
          | &quot;Because I presume that it has not moved in space, and if it traveled into the future it would still be here all this time, since it must have traveled through this time.&quot;
          | &quot;But,&quot; said I, &quot;if it traveled into the past it would have been visible when we came first into this room; and last Thursday when we were here; and the Thursday before that; and so forth!&quot;
          | &quot;Serious objections,&quot; remarked the Rector with an air of impartiality, turning toward the Time Traveler.
          | &quot;Not a bit,&quot; said the Time Traveler, and, to the Psychologist: &quot;You think. You can explain that. It&apos;s presentation below the threshold, you know, diluted presentation.&quot;
          | &quot;Of course,&quot; said the Psychologist, and reassured us. &quot;That&apos;s a simple point in psychology. I should have thought of it. It&apos;s plain enough, and helps the paradox delightfully. We cannot see it, nor can we appreciate this machine, any more than we can the spoke of a wheel spinning, or a bullet flying through the air. If it is traveling through time fifty times or a hundred times faster than we are, if it gets through a minute while we get through a second, the impression it creates will of course be only one-fiftieth or one-hundredth of what it would make if it were not traveling in time. That&apos;s plain enough.&quot; He passed his hand through the space in which the machine had been. &quot;You see?&quot; he said laughing.
          | We sat and stared at the vacant table for a minute or so. Then the Time Traveler asked us what we thought of it all.
          | &quot;It sounds plausible enough to-night,&quot; said the Medical Man; &quot;but wait until to-morrow. Wait for the common sense of the morning.&quot;
          | &quot;Would you like to see the Time Machine itself?&quot; asked the Time Traveler. And therewith, taking the lamp in his hand, he led the way down the long, draughty corridor to his laboratory. I remember vividly the flickering light, his queer, broad head in silhouette, the dance of the shadows, how we all followed him, puzzled but incredulous, and how there in the laboratory we beheld a larger edition of the little mechanism which we had seen vanish from before our eyes. Parts were of nickel, parts of ivory, parts had certainly been filed or sawn out of rock crystal. The thing was generally complete, but the twisted crystalline bars lay unfinished upon the bench beside some sheets of drawings, and I took one up for a better look at it. Quartz it seemed to be.
          | &quot;Look here,&quot; said the Medical Man, &quot;are you perfectly serious? Or is this a trick&mdash;like that ghost you showed us last Christmas?&quot;
          | &quot;Upon that machine,&quot; said the Time Traveler, holding the lamp aloft, &quot;I intend to explore Time. Is that plain? I was never more serious in my life.&quot;
      |          
      .contact.link
        p Contact us: 
    |       
    script(type='text/javascript', src='main.js')
    block content
